html {
  height: 100%;
  width: 100%;
}
.greenh1{
  color:white;
}
h1{
  border:6px dotted black;
}
body {
  margin: 0;
}

/* Style the header */
.greenh1 {
  background-color: #6BBF59;
  padding: 20px;
  text-align: center;
}
  * {
  box-sizing: border-box;
}

body {
  margin: 0;
}


.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
.p {
  padding: 10px;
  text-align: center;
}
body {
  margin: 0;
}

.header 3 {
  background-color:#2BC016;
  padding: 20px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.para1 {
  color:white;
}
.para1 {
  background-color: #2C4E39;
  padding: 10px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.para2 {
  color:white;
}
.para2 {
  background-color: #2C4E39;
  padding: 10px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.para3 {
  color:white;
}
.para3 {
  background-color: #2C4E39;
  padding: 10px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.para4 {
  color:white;
}
.para4 {
  background-color: #2C4E39;
  padding: 10px;
  text-align: center;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.para5 {
  color: white;
}
.para5{
  background-color:#2C4E39 ;
  padding: 10px;
  text-align: center;
}

*{
  box-sizing: border-box;
}
body {
  margin: 0;
}
.para6 {
  color:white;
}
.para6 {
  background-color: #2C4E39;
  padding: 10px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.para7 {
  color:white;
}
.para7 {
  background-color: #2C4E39;
  padding: 10px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.para8 {
  color:white;
}
.para8 {
  background-color: #2C4E39;
  padding: 10px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.para9 {
  color:white;
}
.para9 {
  background-color: #2C4E39;
  padding: 10px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  margin: ;
}
.para10 {
  color:white;
}
.para10 {
  background-color: #2C4E39;
  padding: 10px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.para11 {
  color:white;
}
.para11 {
  background-color: #2C4E39;
  padding: 10px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.para12 {
  color:white;
}
.para12 {
  background-color: #2C4E39;
  padding: 10px;
  text-align: center;
}
*{
  box-sizing: border-box;
}

body{
  margin: 0;
}
.para13{
  color: white;
}
.para13{
  background-color: #2C4E39 ;
  padding: 10px;
  text-align: center;
}
